/* input */
input:focus {outline:none;}

/* NavbarBrand */
.NavbarBrand {
  color: #5457ff;
}


/* navbar + navLink */
.navbar {
  background-color: #fff;
}

.nav-link {
  color: #000 !important;
  margin-right: 20px;
  margin-left: 20px;
}
.nav-link:hover {
  color: #5457ff !important;
}


/* navbar's searchbar  */
.btn {
  height: 30px;
  line-height: 5px;
  background-color: #5457ff;
  border: none;
  margin-right: 20px;
}

.btn:hover {
  background-color: #4a47d5;
}

/* navbar's search input */

.form-control1 {
  margin-left: 20px;
  border: 1px solid #ccc;
  box-shadow: 1px solid #ccc;
  width: 200px;
  border-radius: 4px;
}

.form-position {
  margin-right: 100px;
}